* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
/* HERO POSTER */
.hero {
    height: 50vh;
    background-image: url("img2.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* OVERLAY GELAP */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

/* TEXT DI TENGAH */
.hero-text {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 60px;
    color: white;
    letter-spacing: 3px;
    animation: fadeSlide 1.2s ease forwards
}

/* NAVIGATION */
nav {
    background-color: #0d0d0d;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid red;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav a:hover {
    color: red;
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

/* GARIS BAWAH */
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease;
}

/* HOVER = GARIS JALAN KE KANAN */
nav a:hover::after {
    width: 100%;
}

/* HEADER */
header {
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 42px;
    color: red;
}

header p {
    font-size: 18px;
    color: #ccc;
    margin-top: 10px;
}

/* SECTION */
section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    color: red;
    margin-bottom: 20px;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.album {
    background-color: red;
    border: 1px solid #333;
    padding: 15px;
    transition: 0.3s;
}

.album:hover {
    transform: scale(1.05);
    border-color: red;
    box-shadow: 0 0 25px rgba(255,0,0,0.6);
}

.album img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.album h3 {
    margin: 10px 0 5px;
    color: white;
}

.album p {
    font-size: 14px;
    color: #bbb;
}

.album {
    position: relative;
}

.album::before {
    content: "HOT";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: bold;
}

/* BUTTON */
button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: darkred;
}

/* TABLE */
table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
}

th {
    background-color: red;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
}












